#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
#footer{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    font-size: 30px;
}
body{
background-color: rgb(124, 219, 128);
color: black;
}
img:hover{
    border: 5px;
    border-style: solid;
    border-radius: 100px;
    padding: 3px;
}